<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="auth.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
</head>
<body class="col-center">
    <header></header>
    <main>
        <section class="auth-container">
            <h1>Welcome</h1>
            <div>Please, enter username & password</div>
            <form class="auth-forms" action="" method="post">
                <div class="form-input-text row">
                    <!-- <label for="username">Username</label> -->
                    <span class="material-symbols-outlined">person</span>
                    <input class="input-field" type="text" name="username" id="username" placeholder="Enter username">
                </div>
                <div class="form-input-text row">
                    <!-- <label for="password">Password</label> -->
                    <span class="material-symbols-outlined">lock</span>
                    <input class="input-field" type="text" name="password" id="password" placeholder="Enter password">
                </div>
                <div class="form-other">
                    <div class="checkbox row">
                        <input type="checkbox" id="rememberMe">
                        <label for="rememberMe">Remember me</label>
                    </div>
                    <a href="#">I forgot my password</a>    
                </div>
                <button class="form-input-submit" type="submit">
                    Sign In
                </button>
            </form>
            <section class="register-link">
                <div>
                    Don't have an account yet? <a href="#">Sign up</a>
                </div>
            </section>
        </section>
    </main>
    <footer></footer>     
</body>
<script type="text/javascript" src=""></script>
</html>