<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="auth.css">
</head>
<body class="col-center">
    <header></header>
    <main>
        <section class="auth-container col-center">
            <h1 class="header-sign-in">Login</h1>
            <form class="col-center" action="" method="post">
                <div class="input-cont col-center">
                    <label for="username">Username</label>
                    <input class="input-field" type="text" name="username" id="username">
                </div>
                <div class="input-cont col-center"">
                    <label for="password">Password</label>
                    <input class="input-field" type="text" name="password" id="password">
                <div class="input-cont col-center">
                    <input style="color: black" type="submit" value="sign in">
                </div>
                </div>
            </form>
        </section>
    </main>
    <footer></footer>     
</body>
<script type="text/javascript" src=""></script>
</html>